@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Extrabold.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../fonts/Bebas-Neue.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}