html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  letter-spacing: 0.19px;
  color: var(--color-dark);
  font-size: 11px;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  padding-inline: 16px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

a {
  text-decoration: none;
}
