.banner {
  width: 100%;
  height: 500px;
  background: url("../../image/banner-bg.jpg") center/cover no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 36px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    max-width: 350px;
    text-align: center;
  }
}
