.capabilities {
  margin-top: 120px;

  @media screen and (max-width: 768px) {
      margin-top: 60px;
    }

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 150px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px;
    white-space: nowrap;
    position: relative;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 10px;
      width: 50px;
      height: 2px;
      background-color: var(--color-accent);

      @media screen and (max-width: 768px) {
        left: 36%;
        bottom: -10px;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 20px;
    }
  }

  &__description {
    max-width: 70%;
  }

  &__link {
    white-space: nowrap;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 28px;
    margin-top: 80px;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
  }
}
