.header {
  &__info {
    width: 100%;
    height: 769px;
    background: url("../../image/header-bg.png") center/cover no-repeat;
    color: var(--color-light);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding-top: 40px;
    padding-bottom: 70px;

    @media screen and (max-width: 768px) {
      height: 100vh;
    }
  }

  &__logo-link {
    cursor: pointer;
  }

  &__title {
    display: flex;
    flex-direction: column;
    column-gap: 20px;

    & h1 {
      text-transform: uppercase;
      font-family: var(--font-family-accent);
      font-size: 60px;
      letter-spacing: 5.7px;
      margin: 0;
    }

    & p {
      font-size: 16px;
      font-weight: 600;
      margin: 0;
    }
  }

  &__button {
    background: none;
    border: none;
    text-decoration: none;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 8px;
    color: var(--color-light);
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -6px;
      width: 80%;
      height: 1px;
      background-color: var(--color-light);

      transform: translateX(-50%) scaleX(0);
      transform-origin: center;
      transition: transform var(--transition-duration);
    }

    &:hover {
      transform: scale(1.1);

      &::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &__navigation-bar {
    border-bottom: var(--border);
    width: 100%;
  }
}
