.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  padding: 24px 16px;

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    min-height: 80vh;
  }

  &__link {
    color: inherit;
  }
}
