.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;

  &__list {
    display: flex;
    column-gap: 36px;
    list-style: none;

    @media screen and (max-width: 1024px) {
      column-gap: 24px;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__link {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-dark);

    &:hover {
      color: var(--color-accent);
    }

    &.is-active {
      color: var(--color-accent);
      font-weight: 700;
    }
  }
}
